/Makefile
/config.log
/config.status
/config.h
/doc/Makefile
/doc/src/Makefile
/libtool
/src/Makefile
/stamp-h
/testsuite/Makefile
/autom4te.cache
libozz.la
libozzi.la
libtagdtor.la
ozz
.libs
*.o
*.lo
*.zz.diff
*.err

.deps/
/stamp-h1
*~
*.log
*.trs
/build*/

__pycache__/
*.pyc
